.footer{
    .navbar__wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: 670px) {
            align-items: flex-start;
        }
        img{
            width: 95px;
            height: 95px;
            border-top: 1px solid var(--White, #FFF);
            border-right: 1px solid var(--White, #FFF);
            border-left: 1px solid var(--White, #FFF);
            background: url(<path-to-image>), lightgray 50% / cover no-repeat;
        }
    }
    background-color: $black;
    &_menu{
        align-items: baseline;
        display: flex;
        @media screen and (max-width: 670px) {
            display: block;
            text-align: end;
        }
        p{
            color: #999;
            font-size: 12px;
            font-weight: 300;
            @media screen and (max-width: 500px) {
                max-width: 217px;
            }
            &::after {
                padding: 0 16px;
                content: "| ";
                color: #999;
                font-size: 12px;
                @media screen and (max-width: 670px) {
                    display: none;
                }
            }
        }
        li{
            list-style: none;
            text-decoration: none;
            a{
                color: #999;
                font-size: 12px;
                font-weight: 300;
            }
        }
    }
}

.menu-footer-menu-container{
    @media screen and (max-width: 670px) {
        padding-top: 16px;
    }
    ul{
        display: flex;
        @media screen and (max-width: 670px) {
            justify-content: end;
        }
        & li:first-child::after {
            padding: 0 16px;
            content: "| ";
            color: #999;
            font-size: 12px;
        }
    }
}

