.impact_potential{
    background-color: $black;
    padding: 88px 0;
    @media screen and (max-width: 425px) {
        padding: 72px 0;
    }
    &_block{
        text-align: center;
        .title_white{
            font-size: 36px;
            color: white;
            max-width: 723px;
            margin: 0 auto;
            @media screen and (max-width: 425px) {
                font-size: 24px;
            }
            p{
                font-family: 'MuseoSans-bold';
            }
        }
        .title_red{
            font-size: 36px;
            color: #F05454;
            max-width: 723px;
            margin: 0 auto;
            @media screen and (max-width: 425px) {
                font-size: 24px;
            }
        }
        .impact_description{
            margin: 0 auto;
            padding-top: 16px;
            font-size: 18px;
            font-family: 'MuseoSans';
            color: white;
            max-width: 920px;
            @media screen and (max-width: 425px) {
                font-size: 16px;
            }
        }
    }
}

.swiper {
    // width: 600px;
    // height: 300px;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


