.our_team{
    padding-top: 104px;
    padding-bottom: 92px;
    background-color: #F9F9F9;
    &_title{
        .title_team{
            text-transform: uppercase;
            font-size: 56px;
            @media screen and (max-width: 827px) {
                font-size: 40px;
            }
        }
        &_two{
            .title_second{
                padding-top: 88px;
                font-size: 36px;
                font-weight: 700;
                @media screen and (max-width: 827px) {
                    font-size: 24px;
                }
            }
            p{
                font-size: 18px;
                font-weight: 400;
                padding: 16px 0 48px;
                max-width: 826px;
            }
        }

    }
    &_blocks{
        margin-top: 18px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        &_block{
            margin-top: 30px;
            padding: 40px;
            width: 350px;
            background-color: white;
            border-bottom: 2px solid #fff;
            box-shadow: 0px 4px 48px rgba(229, 229, 229, 0.48);
            cursor: pointer;
            transition: .5s;
            &:last-child{
                margin-bottom: 0px;
            }
            .block_title{
                padding-top: 32px;
                display: flex;
                justify-content: space-between;
                .hover{
                    display: none;
                }
            }
            &:hover{
                border-bottom: 2px solid var(--Black, #0A0B09);
                background: var(--White, #FFF);
                box-shadow: 0px 8px 32px 0px rgba(190, 190, 190, 0.48);
                .hover_img{
                    display: none;
                }
                .block_title{
                    .hover{
                        display: block;
                    }
                }
            }
            @media screen and (max-width: 1250px) {
               margin-bottom: 16px;
            }
            .avatar{
                width: 100%;
            }
            .name{
                font-size: 24px;
                font-weight: 700;
                @media screen and (max-width: 827px) {
                    font-size: 20px;
                }
            }
            .description{
                padding-top: 8px;
                font-size: 14px;
                font-weight: 300;
            }
        }
    }
    &_line{
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 768px) {
            flex-wrap: wrap;
            justify-content: center;
        }    
        &_block{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 12.5%;
            background: #fff;
            border-bottom: 2px solid #FFF;
            box-shadow: 0 4px 48px hsla(0,0%,89.8%,.48);
            transition: .5s;
            @media screen and (max-width: 768px) {
                width: 180px;
                margin-bottom: 16px;
            }
            .hover{
                display: none;
            }
            &:hover{ 
                background-color: #fff;
                border-bottom: 2px solid var(--Black, #0A0B09);
                background: var(--White, #FFF);
                box-shadow: 0px 8px 32px 0px rgba(190, 190, 190, 0.48);
                transition: .5s;
                .hover{
                    display: block;
                    padding: 31px 24px 0;
                    .title{
                        padding-top: 24px;
                        font-size: 16px;
                        font-weight: 600;
                        color: $black;
                        line-height: 20px;
                    }
                    .description{
                        padding-top: 8px;
                        color: #999;
                        font-size: 16px;
                        font-weight: 300;
                        line-height: 24px;
                    }
                }
                .hover_img{
                    display: none;
                    .line_avatar{
                        width: 100%;
                    }
                }
                .icon{
                    border-left: none;
                }
            }
            .logo{
                padding: 16px 36px;
                max-width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                border-right: 1px solid #e5e5e5;
                &:last-child{
                    border-right: 1px solid transparent;
                }
                .icon{
                    margin: 0 auto;
                    max-width: 108px;
                    height: 32px;
                }
            }
        }
    }
}
.line_avatar{
    width: 100%;
}