.recent_news{
    padding-top: 104px;
    &_title{
        .title_h1{
            font-size: 56px;
            @media screen and (max-width: 570px) {
                font-size: 40px;
            }
        }
        .title_p{
            font-size: 18px;
            padding: 8px 0 48px;
            @media screen and (max-width: 570px) {
                font-size: 16px;
            }
        }
    }
    &_blocks{   
        &_block{
            border-top: 1px solid #E5E5E5;
            padding: 24px 0;
            display: flex;
            transition: .5s;
            @media screen and (max-width: 768px) {
                display: block;
            }
            &:hover{
                border-top: 1px solid transparent;
                border-bottom: 2px solid #0A0B09;
                background: #FFF;
                box-shadow: 0px 8px 32px 0px rgba(190, 190, 190, 0.48);
            }
            .logo{
                display: flex;
                gap: 16px;
                align-items: center;
                margin-right: 56px;
                max-width: 255px;
                .line{
                    background: #E5E5E5;
                    width: 1px;
                    height: 43px;
                }
            }
            &:last-child{
                border-bottom: 1px solid #E5E5E5;
                &:hover{
                    border-bottom: 2px solid #0A0B09;
                }
            }
            .description{
                @media screen and (max-width: 768px) {
                    padding-left: 0px;
                    padding-top: 16px;
                }
                .title{
                    font-size: 18px;
                    font-weight: 700;
                }
                .date{
                    padding-top: 8px;
                    color: var(--Grey, #999);
                    font-size: 14px;
                    font-weight: 300;
                }
            }
        }
    }
}
