.what_our{
    padding-top: 40px;
    background-color: rgba(229, 229, 229, 0.24);
    @media screen and (max-width: 425px) {
        padding-top: 72px;
    }
}
.what{
    &-wrapper{
        display: flex;
        justify-content: space-between;
    }
    &-slide{
        max-width: 507px !important;
        margin-right: 0 !important;
        text-align: inherit;
        background-color: transparent;
        .opasity_text{
            font-family: 'MuseoSans-lite';
            color: #999;
            font-size: 14px;
            font-style: italic;
            @media screen and (max-width: 425px) {
                display: none;
            }
        }
        .slide_display{
            padding: 20px 0 24px;
            display: flex;
            @media screen and (max-width: 425px) {
                padding: 0 0 24px;
            }
            &_name{
                padding-left: 16px;
                .name{
                    color:#0A0B09;
                    font-size: 14px;
                    font-family: 'MuseoSans-lite';
                }
                .profile{
                    color:#999;
                    font-size: 14px;
                    font-family: 'MuseoSans-lite';
                }
                .logo{
                    margin-top: 6px;
                    width: 80px;
                    height: inherit;
                }
            }
        }
        .description{
            color: #0A0B09;
            font-size: 16px;
            font-style: italic;
            font-weight: 400;
            padding-bottom: 80px;
            @media screen and (max-width: 425px) {
                padding-bottom: 40px;
            }
        }
        .avatar{
            width: 72px;
            height: 72px;
        }
    }
    &-pagination{
        padding-bottom: 24px;
        text-align: center;
    }
}   